# Ignore artifacts:
*.log
*.md
*.lock
*.swp

.cache
.temp
.idea
.swc
.rn_temp
.DS_Store
.editorconfig
.eslintignore
.gitignore
.prettierignore
.prettierrc
.eslintrc
LICENSE

node_modules
coverage
build
dist
weapp
alipay
kwai
swan
tt
qq
h5
lib